<html>

<head>
    <title>Book App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/design.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap">
</head>

<body>
    <h1 id="searchHeading">Search Result <span style="color: grey;">></span> <%= searchQuery.toUpperCase() %></h1>


    <% data["items"].forEach((ele)=> { %>

    <div class="card mb-5 w-75">
        <div class="row no-gutters">
            <div class="col-md-4 pic">
                <% if (ele.volumeInfo.imageLinks?.smallThumbnail) { %>
                    <img src="<%= ele.volumeInfo.imageLinks.smallThumbnail %>" class="card-img img-fluid rounded mx-auto d-block">
                <% } else { %>
                    <p>No image available</p>
                <% } %>
                <a href="<%= ele.volumeInfo.previewLink %>" class="btn btn-primary view">View Book</a>
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%= ele.volumeInfo.title %></h2>
                    <h3 class="card-title"><%= ele.volumeInfo.subtitle %></h2>
                    <br>
                    <p class="card-text"><b>Authors:</b> <%= ele.volumeInfo.authors %> </p>
                    <% if (ele.volumeInfo.industryIdentifiers && ele.volumeInfo.industryIdentifiers[1]) { %>
                        <p class="card-text"><b>ISBN:</b> <%= ele.volumeInfo.industryIdentifiers[1].identifier %> </p>
                    <% } else { %>
                        <p class="card-text"><b>ISBN:</b> N/A </p>
                    <% } %>
                    <p class="card-text"><b>Total pages:</b> <%= ele.volumeInfo.pageCount %> </p>
                    <p class="card-text"><b>Date Published:</b> <%= ele.volumeInfo.publishedDate %> </p>
                </div>
            </div>

        </div>
    </div>

    <% }) %>


</body>

</html>